
footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer p {
    background: #31363f;
    padding: 20px;
}

.footerAllDrivers {
    background: #31363f;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    line-height: 20px;
}

.driversFirstLine ul {
    background: #31363f;
}

.driversFirstLine a {
    background: #31363f;
    text-decoration: none;
    display: inline-flex;
    color: white;
    padding: 12px;
    line-height: 16px;
}

.driversFirstLine a:hover {
    text-decoration: underline;
    color: gray;
}

.copyright {
    padding: 12px;
}