.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(17, 109, 167);
    text-align: center;
    margin-bottom: 50px;
}

.navBar img {
    margin: 10px;
    background: rgb(17, 109, 167);
}

.navBar a {
    text-decoration: none;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(17, 109, 167);
    text-align: center;
    margin-top: 0;
}

.navLinks {
    margin-top: 10px;
    background: rgb(17, 109, 167);
}

.navLinks a {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 1px 1px rgb(133, 122, 122);
    background: rgb(17, 109, 167);
}

.navLinks a:hover {
    text-decoration: underline;
    color: gray;
    text-decoration: underline;
}
